/packer/variables.pkrvars.hcl
.env
# Grafana
grafana/lib/
grafana/logs/
grafana/grafana.db
grafana/plugins/
grafana/__pycache__/

#Terraform
.authorized_key.json
terraform/*.tfstate
terraform/*.tfstate.*
terraform/*.tfvars
terraform/personal.auto.tfvars

#Ansible
ansible/collections/
