[defaults]
inventory = ./inventory/prod/hosts.yml
roles_path = ./roles
collections_path = ./collections:$HOME/.ansible/collections
host_key_checking = False
timeout = 30
retry_files_enabled = False
stdout_callback = yaml
bin_ansible_callbacks = True
interpreter_python = auto
strategy = linear
gathering = explicit

[ssh_connection]
pipelining = True

[persistent_connection]
control_path_dir = /home/rikolleti/.ansible/pc
connect_timeout = 60
command_timeout = 120
log_messages = True
